  @charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .textbox {
    margin-bottom: 20px;
  }
  
  .textbox input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .textbox input:focus {
    border-color: #1344cc;
    outline: none;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #1344cc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #1344cc;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
  }
  .links a {
    display: block;
    text-decoration: none;
    color: #1344cc;
    margin: 5px 0;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: #1344cc;
  }