  @charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    background-color: rgb(0, 0, 0);
    background-image: url('../img/earth-1756274.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    padding: 0;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .login-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(175, 134, 0);
    width: 300px;
  }
  h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .textbox {
    margin-bottom: 20px;
  }
  .textbox input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
  }
  .textbox input:focus {
    border-color: #ff9f00;
    outline: none;
  }
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #ff9f00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #ff9f00;
  }
  .links {
    text-align: center;
    margin-top: 20px;
  }
  .links a {
    display: block;
    text-decoration: none;
    color: #ff9f00;
    margin: 5px 0;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  .links a:hover {
    color:#ff9f00;
  }